In [9]:
from selenium import webdriver
import pandas as pd

In [1]:
# store website inside a variable
url = 'https://en.wikipedia.org/wiki/List_of_future_tallest_buildings'

In [3]:
# initialize Chrome Driver
driver = webdriver.Chrome('C:/webdrivers/chromedriver.exe')

# open website
driver.get(url)

# maximize window
driver.maximize_window()

### Locators

In [14]:
# 2. dann Dataframe kreieren
df_buildings = pd.DataFrame(columns=['Building', 'City', 'Country', 'Height in M', 'Height in Ft', 'Floors'])

# 1. Locators setzen
building = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
city = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
country = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
height_meters = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
height_ft = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[6]')
floors = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[7]')

# 3. in Dataframe appenden
for i in range(len(building)):

    df_buildings =df_buildings.append({'Building':bulding[i].text, 'City': city[i].text,
                                  'Country': country[i].text, 'Height in M': height_meters[i].text,
                                  'Height in Ft': height_ft[i].text, 'Floors': floors[i].text}, ignore_index=True)

In [10]:
# zeigen wie Skelett aussieht
# df_bike = pd.DataFrame(columns=['Building', 'City', 'Country', 'Height in M', 'Height in Ft', 'Floors'])

In [15]:
df_buildings

,Building,City,Country,Height in M,Height in Ft,Floors
0,Burj Mubarak al-Kabir,"Subiya, Kuwait",Kuwait,1001 m,3284 ft,234
1,Jeddah Tower,Jeddah,Saudi Arabia,1000 m,"3,281 ft",167
2,Tradewinds Square,Kuala Lumpur,Malaysia,775 m,"2,542 ft",110
3,Dubai One Tower,Dubai,UAE,711 m,"2,333 ft",161
4,Uptown Dubai Tower 1,Dubai,UAE,711 m,"2,333 ft",115
...,...,...,...,...,...,...
77,Nanjing Olympic Suning Tower,Nanjing,China,420 m,"1,379 ft",99
78,Ningbo Central Plaza Tower 1,Ningbo,China,409 m,"1,342 ft",80
79,Eye of Spring Trade Center 1,Kunming,China,407 m,"1,336 ft",100
80,Bein Arim Tower,Tel Aviv,Israel,400 m,"1,312 ft",100
81,Wuhan Yangtze River Center Tower 1,Wuhan,China,400 m,"1,312 ft",82

In [16]:
df_buildings.to_excel('building.xlsx', index=False)